
    .movie {
        border: 5px solid #000;
        border-radius: 30px; 
        padding: 5px; 
        box-sizing: border-box; 
        background-color: antiquewhite;
        &:hover {
            border-color: #4299e1; 
            background-color: #4299e1; 
          }
        }



.movie-list-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    justify-content: center;
    
    
}

.movie-list-container h5{
    font-size: 1.2em;
  font-weight:bolder;
  color: black; 
  margin-bottom: 5px;
}


.movie-list-container p,
.movie-list-container h5,.movie-list-container img {
    width: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 10px;
    
}

.movie-list-container img{
    border-radius: 30px;
  }
  